<div class="container wrapper">
  <div class="section-one">
    <h2 class="section-one__label">Less stress, more productivity</h2>
    <p class="section-one__paragraph">
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </div>
  <div class="section-two overflow-hidden">
    <h4 class="section-two__label">See how we work</h4>
    <div class="section-two__perks">
      <div class="section-two__perk">
        <span class="section-two__perk-label section-two__perk-bg-1"
          >😀 Sign up</span
        >
        <p class="section-two__perk-sublabel">
          Signing up to Teamio takes less than 2 minutes
        </p>
      </div>
      <div class="section-two__perk">
        <span class="section-two__perk-label section-two__perk-bg-2"
          >🤔 Choose package</span
        >
        <p class="section-two__perk-sublabel">
          Decide how many simultaneous takes you want to run
        </p>
      </div>
      <div class="section-two__perk">
        <span class="section-two__perk-label section-two__perk-bg-3"
          >😎 Create task</span
        >
        <p class="section-two__perk-sublabel">
          Brief your idea with our simplified fact find
        </p>
      </div>
      <div class="section-two__perk">
        <span class="section-two__perk-label section-two__perk-bg-4"
          >🤩 Receive product</span
        >
        <p class="section-two__perk-sublabel">
          Take full ownership of your completed task
        </p>
      </div>
    </div>
  </div>
</div>
