<div class="container-fluid wrapper">
  <div class="section-one">
    <div class="section-one__links-container">
      <app-logo class="section-one__logo mb-3"></app-logo>
      <p class="section-one__link">
        We Solve your <br />
        Puzzel
      </p>
    </div>
    <div class="section-one__links-container">
      <span class="section-one__heading">Company</span>
      <div class="section-one__links">
        <a href="" class="section-one__link">About</a>
        <a href="" class="section-one__link">Success Stories</a>
        <a href="" class="section-one__link">Contact</a>
        <a href="" class="section-one__link">FAQs</a>
        <a href="" class="section-one__link">Login</a>
      </div>
    </div>
    <div class="section-one__links-container">
      <span class="section-one__heading">Resources</span>
      <div class="section-one__links">
        <a href="" class="section-one__link">FAQs</a>
        <a href="" class="section-one__link">Careers</a>
      </div>
    </div>
    <div class="section-one__links-container">
      <span class="section-one__heading d-block"
        >Request for <br />
        DEMO</span
      >
      <div class="section-one__links">
        <a href="" class="section-one__link">Request for free live demo.</a>
      </div>
    </div>
  </div>
  <div class="section-two">
    <a href="" class="section-two__link">
      <p class="section-two__term">Terms of service</p>
    </a>
    <span class="section-two__separator">|</span>
    <a href="" class="section-two__link">
      <p class="section-two__term">Cookies Policy</p>
    </a>
    <span class="section-two__separator">|</span>
    <a href="" class="section-two__link">
      <p class="section-two__term">Privacy Policy</p>
    </a>
    <span class="section-two__separator">|</span>
    <a href="" class="section-two__link">
      <p class="section-two__term">Anti-discrimination Policy</p>
    </a>
  </div>
</div>
