@import "../../../styles/abstract";
@import "../../../styles/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba($color: $primary-color-teal, $alpha: 0.05);
  margin-top: $space-lg;
  padding: 0;
  max-width: 1600px;
}

.section-one {
  display: flex;
  justify-content: space-around;
  padding: 2.8125rem;

  & > :nth-last-child(1) {
    display: none;

    @media screen and (min-width: $window-md) {
      display: unset;
    }
  }

  &__links-container {
    display: flex;
    flex-direction: column;
    margin: 0 0.7rem;
  }

  &__heading {
    @include adjust-font(
      $mfs-p-lg,
      $fw-sbold,
      $fs-b-sm,
      $fw-sbold,
      $fs-b-sm,
      $fw-sbold
    );
    color: #455466;
    margin-bottom: $space-sm;
  }

  &__links {
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 0.625rem;
    }
  }

  &__link {
    @include adjust-font(
      $mfs-p-md,
      $fw-regular,
      $fs-p-sm,
      $fw-regular,
      $fs-p-sm,
      $fw-regular
    );
    text-decoration: none;
    color: #455466;
  }
}

.section-two {
  display: flex;
  justify-content: center;
  background-color: $primary-color-white;
  padding: 1rem;
  border-top: 1px solid $gray-color-l3;
  width: 100%;
  &__link,
  &__separator {
    @include adjust-font(
      $mfs-p-sm,
      $fw-regular,
      $fs-p-sm,
      $fw-regular,
      $fs-p-sm,
      $fw-regular
    );
    color: $gray-color-l4;
    text-decoration: none;
  }

  &__separator {
    margin: 0 1ch;
  }

  &__term {
    margin: 0;
  }
}
