<div
  class="container-fluid d-flex align-items-center justify-content-between px-4 py-2"
>
  <div
    class="container p-0 m-0 navbar navbar-expand-md d-flex justify-content-between align-items-center"
  >
    <app-logo></app-logo>
    <div class="navbar-nav">
      <app-navbar-item [title]="'service'"></app-navbar-item>
      <app-navbar-item [title]="'how it works'"></app-navbar-item>
      <app-navbar-item [title]="'pricing'"></app-navbar-item>
    </div>
  </div>
  <app-navbar-extras></app-navbar-extras>
</div>
