<div class="container wrapper">
  <div class="section">
    <app-video-player class="section__vplayer"></app-video-player>
    <div class="section__details">
      <h2 class="section__headline">We turn dreams into realities.</h2>
      <div>
        <h4 class="section__subtitle">Without the need to break the bank.</h4>
        <p class="section__description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto cumque
          aliquam quam necessitatibus omnis praesentium architecto sunt,
          perspiciatis eligendi minus rem nam esse voluptatem eius? <br />
          <br />
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
      <app-button
        class="section__button"
        [color]="'teal'"
        [text]="'Try for free'"
        [varient]="'gradient'"
        [shadow]="true"
      ></app-button>
    </div>
  </div>
</div>
