<div class="container wrapper">
  <div class="section">
    <h2 class="section__text">
      Why companies are raving <br />
      about Teamio
    </h2>
    <div class="section__cards">
      <div class="section__scroll">
        <app-card-item
          class="section__card"
          *ngFor="let card of cards"
          [image]="card.image"
          [title]="card.title"
          [description]="card.description"
        ></app-card-item>
      </div>
      <img
        class="section__social-image"
        src="../../../assets/images/social-phone.svg"
        alt=""
      />
      <img
        class="section__stars-image"
        src="../../../assets/images/stars-group.svg"
        alt=""
      />
      <img
        class="section__star-image"
        src="../../../assets/images/star-single.svg"
        alt=""
      />
    </div>
  </div>
</div>
