<div class="container wrapper">
  <div class="section">
    <div class="section-one">
      <div class="section-one__image"></div>
    </div>
    <div class="section-two">
      <h2 class="section-two__title">
        Bringing ideas to life is <br />
        what makes us tick!
      </h2>
      <p class="section-two__paragraph-desktop">
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book.
        <br />
        <br />
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
        <br />
      </p>
      <span class="section-two__signature"
        >Rob Cooper<br />
        ME Group</span
      >
    </div>
    <p class="section-two__paragraph-mobile">
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
      <br />
      <br />
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      <br />
    </p>
  </div>
</div>
