@import "../../../styles/abstract";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vplayer {
  $border-radius: 1.875rem;
  position: relative;
  left: 0.8rem;
  border-radius: $border-radius;
  width: 21.875rem;
  height: 21.875rem;

  @media screen and (min-width: $window-lg) {
    width: 25.4375rem;
    height: 25.4375rem;
  }

  &__player,
  &__background {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    background: $gradient-color-teal;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  }

  &__background {
    position: absolute;
    top: 2rem;
    left: -1.5rem;
    z-index: -1;
  }

  &__control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    @media screen and (min-width: $window-lg) {
      top: 87%;
      left: 90%;
      transform: translate(-87%, -90%);
    }
  }

  &.paused {
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
    }

    &::before {
      background: url("../../../assets/images/videoplaceholder.png") no-repeat
        center;
      background-size: 110%;
    }

    &::after {
      background: linear-gradient(
          226.19deg,
          #ecb22d 0.64%,
          rgba(255, 255, 255, 0) 121.53%
        ),
        #6fcdd6 no-repeat center;
      opacity: 0.4;
    }
  }
}
