@import "../../../../styles/abstract";
@import "../../../../styles/mixins";

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  &__image {
    width: 2.25rem;
    height: 2.5rem;
    margin: 0 0 1.5625rem 0;

    @media screen and (min-width: $window-md) {
      width: 3.625rem;
      height: 3.875rem;
    }
  }
}
