<div class="container wrapper">
  <div class="section-one">
    <h1 class="section-one__heading-1">
      Say
      <span class="section-one__span-1">👋🏻 goodbye</span>
      to your
    </h1>
    <h1 class="section-one__heading-2">
      🧐 design & <span class="section-one__span-2">🤯 development</span>
      <h1 class="section-one__heading-3">
        team
        <!-- &nbsp;&nbsp; -->
        <div class="section-one__toggle"></div>
      </h1>
    </h1>
  </div>
  <div class="section-two">
    <p class="section-two__paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat earum at
      quos deleniti.
    </p>
    <app-button
      class="section-two__button"
      [color]="'teal'"
      [text]="'Try for free'"
      [shadow]="true"
      [varient]="'gradient'"
    ></app-button>
    <img
      class="section-two__laptop img-fluid"
      src="../../../assets/images/laptop.png"
      alt=""
    />
  </div>
  <img
    class="wrapper__shape-left"
    src="../../../assets/images/laptop-shape-left.svg"
    alt=""
  />
  <img
    class="wrapper__shape-right"
    src="../../../assets/images/laptop-shape-right.svg"
    alt=""
  />
</div>
