<div class="container mt-5 d-flex flex-column align-items-center">
  <h1 class="mb-5">
    <div class="d-inline h-100"></div>
    Say&nbsp;
    <span class="text-white bg-info rounded-pill px-4 py-1">👋 goodbye</span>
    to your <br />
    &nbsp;&nbsp;&nbsp;&nbsp;🧐 design &<span
      class="bg-success text-white rounded-pill px-4 py-1"
      >🤯 development</span
    >
    team
    <img src="../../../assets/toggle-off.svg" alt="" />
  </h1>
  <p class="text-center mb-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat earum at
    quos deleniti.
  </p>
  <app-button [teal]="true" [text]="'Try for free'" class="mb-5"></app-button>
  <img src="../../../assets/laptop.svg" alt="" />
</div>
