<div class="section container my-5">
  <div
    class="d-flex flex-xl-row flex-column justify-content-center align-items-center"
  >
    <h3 class="section__text text-center mb-xl-0 mb-4">
      If you need more than 5 simultaneous tasks, please contact
    </h3>
    <app-button
      class="ml-lg-5 ml-0"
      [text]="'Try for free'"
      [color]="'teal'"
      [varient]="'gradient'"
    ></app-button>
  </div>
  <img
    class="section__shape"
    src="../../../assets/images/fold-six-shape.svg"
    alt=""
  />
</div>
