<div class="container wrapper">
  <div class="section">
    <h2 class="section__text">
      We are the secret weapon to <br />
      companies worldwide
    </h2>
    <div class="section__images">
      <img
        class="section__image"
        [src]="'../../../assets/images/mahabis.svg'"
      />
      <img class="section__image" [src]="'../../../assets/images/hiber.svg'" />
      <img class="section__image" [src]="'../../../assets/images/itch.svg'" />
      <img
        class="section__image"
        [src]="'../../../assets/images/brand24.svg'"
      />
    </div>
  </div>
</div>
